@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #419d94;
}

@theme {
  --font-sans: var(--font-manrope);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

@media print {

  section {
    break-inside: avoid;
  }

  h2, h3 {
    break-after: avoid;
  }

  p, li {
    orphans: 3;
    widows: 3;
  }

}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }

  51%, 100% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s step-start infinite;
}


.blog-content {
  max-width: 800px;
  margin: 0 auto;
}

.blog-content h1 {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.blog-content h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.blog-content h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.blog-content p {
  margin-bottom: 1.5rem;
  line-height: 1.8;
}

.blog-content ul {
  list-style: disc;
  padding-left: 1.5rem;
  margin-bottom: 1.5rem;
}

.blog-content li {
  margin-bottom: 0.5rem;
}

.blog-content a {
  text-decoration: underline;
}